In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import glob
from matplotlib.ticker import PercentFormatter
import matplotlib.pyplot as plt
import os            
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#change DIRECTORY TO downloads where final outputs ARE

os.chdir("/Users/Philip/Downloads/Inside Airbnb Raw Data/2020")

In [29]:
cities = ["cambridge", "boston"]
df_reviews= []
df_reviews=pd.DataFrame(df_reviews)
months = ["jan","feb","mar","april","may","june","july","august","sept","oct","nov","dec"]

In [6]:
# imported the requests library
import requests
file = "http://data.insideairbnb.com/united-states/ma/cambridge/2021-02-25/data/reviews.csv.gz"
  
# URL of the image to be downloaded is defined as file
r = requests.get(file) # create HTTP response object
  
# send a HTTP request to the server and save
# the HTTP response in a response object called r
with open("cambridge reviews.csv.gz",'wb') as f:
  
    # write the contents of the response (r.content)
    # to a new file in binary mode.
    f.write(r.content)

#cities = ["Cambridge", "Boston"]

4110126

In [ ]:
#for i in cities:
 #       df = pd.read_csv(str(i)+" reviews.csv")   
 #       df['City']=i
 #       df_reviews=pd.concat([df_reviews,df])

#df_reviews
#df_reviews['City']

In [30]:
for i in months:
        df = pd.read_csv("reviews_"+str(i)+"_2020.csv")   
        df['Month']=i
        df_reviews=pd.concat([df_reviews,df])

In [38]:
sum(df_reviews.duplicated())

0

In [40]:
df_reviews

,listing_id,id,date,reviewer_id,reviewer_name,comments,Month
0,3781,37776825,2015-07-10,36059247,Greg,The apartment was as advertised and Frank was ...,jan
1,3781,41842494,2015-08-09,10459388,Tai,It was a pleasure to stay at Frank's place. Th...,jan
2,3781,45282151,2015-09-01,12264652,Damien,The apartment description is entirely faithful...,jan
3,3781,49022647,2015-09-30,41426327,Mike,Thoroughly enjoyed my time at Frank's home. Ha...,jan
4,3781,52503327,2015-10-30,15151513,Ivan,Great value for the money! This location has e...,jan
...,...,...,...,...,...,...,...
117536,46579706,716504973,2020-12-19,93225917,Betina,Great and central location! Close to everything !,dec
117537,46605778,713767182,2020-12-06,65805853,Chantalle,Great spot that I highly recommend. Looks exac...,dec
117538,46621676,713827462,2020-12-06,72276574,Staci,Michelle is very responsive and helped us with...,dec
117539,46627405,712836333,2020-12-01,210206181,Dietrich Blocker,Great space for exactly what you require.,dec
117540,46819851,714712772,2020-12-11,30969268,Julianne,Nice convenient stay! The location is right in...,dec

In [49]:
df_review_final = df_reviews[df_reviews.duplicated(subset = ['comments'],keep='last')]

In [53]:
sum(df_review_final.duplicated(['comments']))

1300640

In [62]:
df = df_reviews
df['Year'] = pd.DatetimeIndex(df['date']).year
# df['Month']=pd.DatetimeIndex(df['date']).strftime("%B")
df['Month'] = pd.DatetimeIndex(df['date']).month

#Fixed to include all months of the year from 2017 on

df.drop(df[(df["Year"] < 2020) | (df["Month"] < 1) ].index, inplace = True)

In [68]:
df

,listing_id,id,date,reviewer_id,reviewer_name,comments,Month,Year
151320,34212943,586152360,2020-01-01,321983634,Ian,Good place to stay,1,2020
156424,38401377,586304980,2020-01-01,182763514,Yu,The whole stay was perfect. The room is big a...,1,2020
156878,39479603,586309895,2020-01-01,310274880,Kathy,Emplacement exceptionnel,1,2020
156941,39583307,586163011,2020-01-01,300307735,Frida,Perfekt,1,2020
157183,40900669,587817094,2020-01-03,321604573,Shante,Nice location easy access to train station ......,1,2020
...,...,...,...,...,...,...,...,...
161632,41838589,602726490,2020-02-07,31144173,Mary,This efficiency unit was great for a work trip...,2,2020
161633,41889162,601002020,2020-02-02,235976114,Abdi,Great host! And great place! Enjoyed it a lot.,2,2020
161634,42074896,603644800,2020-02-09,134720980,Sonia,What an amazing stay in a great location. We w...,2,2020
151320,38128388,601432615,2020-02-03,182876150,Wei-Min,This is the greatest experience!It is very cle...,2,2020
151320,38666086,613230039,2020-03-01,144178195,Ashley,Very hospitable!,3,2020

In [71]:
df.drop_duplicates(subset=['date','comments'], keep='first', inplace=True)
df

,listing_id,id,date,reviewer_id,reviewer_name,comments,Month,Year
151320,34212943,586152360,2020-01-01,321983634,Ian,Good place to stay,1,2020
156424,38401377,586304980,2020-01-01,182763514,Yu,The whole stay was perfect. The room is big a...,1,2020
156878,39479603,586309895,2020-01-01,310274880,Kathy,Emplacement exceptionnel,1,2020
156941,39583307,586163011,2020-01-01,300307735,Frida,Perfekt,1,2020
157183,40900669,587817094,2020-01-03,321604573,Shante,Nice location easy access to train station ......,1,2020
...,...,...,...,...,...,...,...,...
161631,41820180,604776757,2020-02-12,39657534,Marquita,"An is absolutely AMAZING!!! Sooo nice, so cour...",2,2020
161632,41838589,602726490,2020-02-07,31144173,Mary,This efficiency unit was great for a work trip...,2,2020
161633,41889162,601002020,2020-02-02,235976114,Abdi,Great host! And great place! Enjoyed it a lot.,2,2020
161634,42074896,603644800,2020-02-09,134720980,Sonia,What an amazing stay in a great location. We w...,2,2020
151320,38666086,613230039,2020-03-01,144178195,Ashley,Very hospitable!,3,2020

In [72]:
df['count'] = (df.groupby(["Year", "Month",'listing_id'])['Month'].transform('count'))

In [74]:
sum(df['count'])

4257

In [9]:
result = pd.merge(df_listings,df_reviews, on="listing_id")

In [10]:
result.head(5)

,id_x,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,reviews_per_month,listing_id,id_y,date,reviewer_id,reviewer_name,comments,City,Year,Month
0,18711,https://www.airbnb.com/rooms/18711,20210219004231,2021-02-20,The Dorset Redline | 3BR 1BA | Walk to Redline...,Hospital Grade Sanitation Performed! - Minimu...,"Once its own city, Dorchester is now Bostonâ€™s ...",https://a0.muscache.com/pictures/509158a7-36bc...,71783,https://www.airbnb.com/users/show/71783,...,0.4,18711,151881710,2017-05-14,48793631,Lori,The Dorset was clean and comfortable. I apprec...,boston,2017,5
1,18711,https://www.airbnb.com/rooms/18711,20210219004231,2021-02-20,The Dorset Redline | 3BR 1BA | Walk to Redline...,Hospital Grade Sanitation Performed! - Minimu...,"Once its own city, Dorchester is now Bostonâ€™s ...",https://a0.muscache.com/pictures/509158a7-36bc...,71783,https://www.airbnb.com/users/show/71783,...,0.4,18711,158611492,2017-06-07,45298490,Han,The apartment is super big. Beds are comfortab...,boston,2017,6
2,18711,https://www.airbnb.com/rooms/18711,20210219004231,2021-02-20,The Dorset Redline | 3BR 1BA | Walk to Redline...,Hospital Grade Sanitation Performed! - Minimu...,"Once its own city, Dorchester is now Bostonâ€™s ...",https://a0.muscache.com/pictures/509158a7-36bc...,71783,https://www.airbnb.com/users/show/71783,...,0.4,18711,161840259,2017-06-18,77062274,Yeri Alice,The house was approachable from public transpo...,boston,2017,6
3,18711,https://www.airbnb.com/rooms/18711,20210219004231,2021-02-20,The Dorset Redline | 3BR 1BA | Walk to Redline...,Hospital Grade Sanitation Performed! - Minimu...,"Once its own city, Dorchester is now Bostonâ€™s ...",https://a0.muscache.com/pictures/509158a7-36bc...,71783,https://www.airbnb.com/users/show/71783,...,0.4,18711,172678896,2017-07-21,73656489,Alejandro,"All is perfect, I recommend It 100 %",boston,2017,7
4,18711,https://www.airbnb.com/rooms/18711,20210219004231,2021-02-20,The Dorset Redline | 3BR 1BA | Walk to Redline...,Hospital Grade Sanitation Performed! - Minimu...,"Once its own city, Dorchester is now Bostonâ€™s ...",https://a0.muscache.com/pictures/509158a7-36bc...,71783,https://www.airbnb.com/users/show/71783,...,0.4,18711,180515253,2017-08-10,110362686,SÃ©bastien,"Perfectly located and well equipped, but extre...",boston,2017,8

In [14]:
#Add Count column by grouping
#df=df.groupby(["Year", "Month"])["Year"].count().reset_index(name="count")
df['count'] = (df.groupby(["Year", "Month",'listing_id'])['Month'].transform('count'))

In [16]:
test = df[["Year", "Month","count",'listing_id']]
test.drop_duplicates(subset=['Year','Month'], inplace=True)
# test.shape
test.sort_values(by=['Year', 'Month'])

<ipython-input-16-50652d9e9188>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.drop_duplicates(subset=['Year','Month'], inplace=True)

      Year  Month  count  listing_id
720   2017      1      2       79762
722   2017      2      2       79762
208   2017      3      1       11945
159   2017      4      2       11169
161   2017      5      1       11169
162   2017      6      1       11169
741   2017      7      1       79762
742   2017      8      2       79762
926   2017      9      2      219471
163   2017     10      3       11169
1852  2017     11      2      715532
2700  2017     12      1     1140201
3853  2018      1      4     1200294
3857  2018      2      3     1200294
1854  2018      3      1      715532
166   2018      4      2       11169
168   2018      5      2       11169
170   2018      6      1       11169
171   2018      7      2       11169
460   2018      8      2       24063
173   2018      9      2       11169
175   2018     10      1       11169
176   2018     11      1       11169
1488  2018     12      2      456429
468   2019      1      1       24063
1890  2019      2      1      715532
469   2019      3      1       24063
213   2019      4      1       11945
177   2019      5      1       11169
473   2019      6      2       24063
178   2019      7      1       11169
498   2019      8      1       27498
179   2019      9      1       11169
1918  2019     10      5      715532
480   2019     11      4       24063
1928  2019     12      2      715532
180   2020      1      1       11169
214   2020      2      1       11945
1930  2020      3      1      715532
6291  2020      4      1     1984737
4657  2020      5      1     1330779
6292  2020      6      2     1984737
6294  2020      7      2     1984737
2706  2020      8      1     1140201
3127  2020      9      1     1141088
6298  2020     10      2     1984737
2707  2020     11      1     1140201
4013  2020     12      1     1203031
3128  2021      1      2     1141088
3925  2021      2      1     1200294

In [18]:
test.shape

(50, 4)

In [13]:
ttest.columns

NameError: name 'ttest' is not defined

In [ ]:
stats.ttest_rel(ttest["2019"],ttest["2020"])

In [ ]:
#T test comparing 2019 to 2020 for each month???
ttest = test.pivot_table(index=['Month'], 
                      columns='Year', 
                      values='count', 
                      aggfunc='first').reset_index().rename_axis(None, axis=1)
#ttest.columns = ['Month','2018','2019','2020']
stats.ttest_rel(ttest['2019'],ttest['2020'])

In [ ]:
ttest.columns

In [ ]:
df.groupby(['Year','Month']).size()

In [ ]:
df

In [ ]:
# df['count'] = df.groupby(['Year']['Month'])['Month'].transform('count')

In [ ]:
#Add count variable 


# df = pd.read_csv("reviews.csv") 
# df['Year'] = pd.DatetimeIndex(df['date']).year
# # df['Month']=pd.DatetimeIndex(df['date']).strftime("%B")
# df['Month'] = pd.DatetimeIndex(df['date']).month
# df.drop(df[(df["Year"] < 2018) | (df["Month"] < 3) ].index, inplace = True)
df=df.groupby(["Year", "Month"])["Year"].count().reset_index(name="count")

In [ ]:
# Save a palette to a variable:
palette = sns.color_palette("bright")
 
# Use palplot and pass in the variable:
sns.palplot(palette)

In [ ]:

ax = sns.lineplot(x="Month", y="count", hue="Year",data=df, palette=sns.color_palette('bright', n_colors=3))
# ax.text(x,y, df['count'])
# label = '{.2f}'.format(df['count'])
# plt.annotate(label,  (x,y))
plt.suptitle('Number of Reviews in Boston and Cambridge')
plt.xlim(3, 12)
plt.savefig("Year on Year.png")

In [ ]:
#Find Unique properties ids number of comments per unique properties
df_reviews=pd.merge(df,df.groupby(['Year','Month'],as_index=False).count(), on=['Year','Month'])

In [ ]:
df_reviews

In [ ]:
#PERCENT OF REVIEWS COLUMNS HAVE NAN
(len(df_reviews)-df_reviews.count())/len(df_reviews))

In [ ]:
#percentage OF NAs by feature
(len(df_calendar)-df_calendar.count())/len(df_calendar)

In [ ]:
#SET THE STYLE
sns.set(style="darkgrid")

In [ ]:

ax3 = sns.catplot(x="Month", y="adjusted_price",hue="City",kind='box',data=df_calendar,height=12, aspect=1, showfliers=False, palette=sns.color_palette(['purple', 'yellow']))
#ax.legend(loc='upper right')
ax3.fig.suptitle('Adjusted Price Per Month by City')
#ax3.set_yscale("log")
#plt.yscale('log')
plt.savefig('adjprice.jpg')

In [ ]:

ax9 = sns.catplot(x="City",y='price',hue='Month', kind='box',showfliers=False,data=df_listings)
#ax.legend(loc='upper right')
ax9.fig.suptitle('Listing Prices Box Plot')
#plt.ylim(0, 30)
plt.savefig('listingprices.jpg')